// FONTS
@font-face {
	font-family: 'regular';
	src: url('font/JetBrainsMono-Regular.woff2');
}
@font-face {
	font-family: 'bold';
	src: url('font/JetBrainsMono-Bold.woff2');
}
@font-face {
	font-family: 'extraBold';
	src: url('font/JetBrainsMono-ExtraBold.woff2');
}
