// PREF
@use 'vars' as *;
@use 'fonts' as *;

:global(*) {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'regular';
}
:global(body) {
	background-color: $black;
	color: $white;
}
:global(h1) {
	font-size: $fnDash;
	font-family: 'italic';
}
:global(h2) {
	font-size: $fnBig;
	font-family: 'bold';
}
:global(h3) {
	font-size: $fnMed;
}
:global(p) {
	font-size: $fnLit;
}
:global(a) {
	font-size: $fnMed;
	text-decoration: none;
	color: $orange;
	transition: 0.4s all;
	&:hover {
		color: $white;
	}
}
:global(button, input) {
	font-size: $fnBut;
}
:global(ul, li) {
	list-style: none;
}
