// VARIABLES
$black: #191724;
$blackLight: #1f1d2e;
$dim: #26233a;
$greyDark: #6e6a86;
$greyLight: #908caa;
$white: #e0def4;
$red: #eb6f92;
$orange: #f7827e;
$yellow: #f6c177;
$green: #6ccf98;
$cyan: #9ccfd8;
$blue: #3e8fb0;
$purple: #c4a7e7;
$pink: #ea9a97;
$prim: #eb6f92;

//FONT-SIZE
$fnBig: clamp(16px, 2vw, 48px);
$fnMed: clamp(12px, 1.5vw, 24px);
$fnOpt: clamp(10px, 1.2vw, 20px);
$fnLit: clamp(8px, 1vw, 12px);
$fnBut: clamp(16px, 1.5vw, 24px);
$fnDash: clamp(24px, 2.5vw, 64px);

//RADIUS
$rdBig: 24px;
$rdMed: 16px;
$rdLit: 2px;
